
/* Контейнер для двух колонок */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/* Левая колонка с фотографией и контактами */
.left-column {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Фотография */
.profile-pic {
    width: 100%;
    border-radius: 50%;
}

/* Контактная информация */
.contact-info {
    margin-top: 20px;
    line-height: 1.8; /* Межстрочное расстояние для улучшенной читаемости */
    font-size: 18px;
}

/* Правая колонка с образованием и навыками */
.right-column {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}

.right-column h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Стили для секций в правой колонке */
.education, .skills, .languages, .objective, .experience, .projects {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc; /* Стилизация маркеров в виде дисков */
    padding-left: 20px; /* Отступ слева для маркеров */
    line-height: 1.5; /* Межстрочное расстояние для улучшенной читаемости */
}

ul li {
    font-size: 16px;
    color: #333; /* Цвет текста списка */

    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

a {
    transition: color 0.3s ease;
}

ul li:hover, a:hover {
    color: #007BFF; /* Цвет элемента списка при наведении */
}

p {
    font-size: 16px;
    line-height: 1.5; /* Межстрочное расстояние для улучшенной читаемости */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    /* Изменяем сетку на одну колонку */
    .container {
        grid-template-columns: 1fr; /* Одна колонка */
    }

    .left-column, .right-column {
        padding: 10px; /* Уменьшаем отступы */
    }

    .profile-pic {
        width: 120px; /* Уменьшаем размер фотографии */
        height: 120px;
    }

    .right-column {
        padding: 15px; /* Уменьшаем отступы в правой колонке */
    }

    .right-column h2, .right-column h3 {
        font-size: 1.2em; /* Уменьшаем размер заголовков */
    }

    .right-column p, .right-column li {
        font-size: 0.9em; /* Уменьшаем размер текста */
    }
}

