/* Основной контейнер для header */
header {
    display: flex;
    justify-content: space-between; /* Распределяем заголовок и навигацию по краям */
    align-items: center; /* Выровнять по вертикали */
    padding: 10px 20px; /* Отступы для пространства */
    background-color: #EEEDE7; /* Фон шапки */
    flex-wrap: nowrap;
    border-radius: 20px;
}

/* Стиль для заголовка h2 */
.navigationTitle {
    font-size: 24px; /* Размер шрифта для заголовка */
    color: #333;
    margin-right: calc(20px + 2vw);
    margin-left: calc(20px + 2vw);
    white-space: nowrap;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Стили для навигации */
.navigation {
    flex-grow: 1; /* Навигация расширяется для заполнения пространства */
    text-align: right; /* Выравнивание навигации вправо */
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}

.navigationUl {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
}

.navigationLi {
    display: inline; /* Элементы списка в строку */
    margin-left: 20px; /* Отступ между пунктами меню */
    font-size: larger;
}

a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #0A0708; /* Цвет ссылок */
}


/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Вертикальное расположение для мобильных */
        text-align: center; /* Выравнивание по центру на мобильных */
    }

    .navigation {
        text-align: center; /* Центрируем меню на мобильных */
        margin-top: 10px; /* Добавляем отступ сверху */
    }

    .navigationLi {
        display: block; /* Элементы меню в столбик на мобильных */
        margin: 5px 0; /* Отступы между элементами */
    }
}