* {
    margin: 0; /* Убираем все внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    box-sizing: border-box; /* Гарантируем, что padding и border включены в размеры элементов */
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: linear-gradient(to right, #c6c6c6, #FFFFFF, #bdbdbd);
    font-family: "Noto Serif light", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif italic';
    src: url('../resources/Noto_Serif/NotoSerif-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif light';
    src: url('../resources/Noto_Serif/NotoSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

main {
    display: flex;
    align-items: start;
    flex: 1;
    justify-content: center;
}

/* Основной контейнер для header */
header {
    display: flex;
    justify-content: space-between; /* Распределяем заголовок и навигацию по краям */
    align-items: center; /* Выровнять по вертикали */
    padding: 10px 20px; /* Отступы для пространства */
    flex-wrap: nowrap;
    border-radius: 20px;
    margin: 10px;
    background: linear-gradient(to right, #b2b2b2, #ebebeb, #a9a9a9);
}

h1 {
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic;
}

h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-style: italic;
}

h2 {
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic;
}

/* Стиль для заголовка h1 */
.navigationTitle {
    font-size: 24px; /* Размер шрифта для заголовка */
    color: #333;
    margin: 10px calc(20px + 2vw) 10px calc(20px + 2vw);
    font-family: "Noto Serif thin", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Стили для навигации */
.navigation {
    flex-grow: 1; /* Навигация расширяется для заполнения пространства */
    text-align: right; /* Выравнивание навигации вправо */
    font-family: "Noto Serif italic", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}

.navigationUl {
    list-style-type: none; /* Убираем маркеры списка */
    line-height: 1.7; /* Межстрочное расстояние для улучшенной читаемости */
    margin: 0;
    padding: 0;
}

.navigationLi {
    display: inline; /* Элементы списка в строку */
    margin-left: 20px; /* Отступ между пунктами меню */
    font-size: larger;
    padding: 0;
}

/* Контейнер для всего содержимого */
.container {
    max-width: 900px;
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.27);
    margin: 0 10px;
}

/* Контейнер для изображения и текста */
.content{
    padding: 20px; /* Внутренние отступы */
    border-radius: 10px; /* Скругленные углы */
    margin: 0 auto; /* Центрирование блока по горизонтали */
}

a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #0A0708; /* Цвет ссылок */
}

/* Основные стили для footer */
footer {
    padding: 20px; /* Отступы */
    border-radius: 20px; /* Скругление углов */
    margin: 10px; /* Внешние отступы */
    background: linear-gradient(to right, #b2b2b2, #ebebeb, #a9a9a9);

}

/* Стили для address */
address {
    font-family: "Noto Serif light", serif; /* Шрифт в стиле заголовков */
    font-weight: 400; /* Обычный вес шрифта */
    font-size: 16px; /* Размер текста */
    line-height: 1.6; /* Межстрочное расстояние */
    color: #333; /* Цвет текста */
    text-align: center; /* Текст по центру */
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Вертикальное расположение для мобильных */
        text-align: center; /* Выравнивание по центру на мобильных */
    }

    .navigation {
        text-align: center; /* Центрируем меню на мобильных */
        margin-top: 10px; /* Добавляем отступ сверху */
    }

    .navigationLi {
        display: block; /* Элементы меню в столбик на мобильных */
        margin: 5px 0; /* Отступы между элементами */
    }

    footer {
        padding: 15px; /* Уменьшаем отступы на мобильных */
    }

    address {
        font-size: 14px; /* Уменьшаем размер шрифта на мобильных */
    }
}